#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  display: flex;
  gap: 1rem;
}

.drawing-container{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  flex: 2;
}

.result-container{
  flex: 1;
}
