.reference-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(93px, 1fr));
  max-width: 100%;
  gap: 0.5rem;
}

.card {
  background-color: #333;
  border-radius: 0.25rem;
  overflow: hidden;
}

.header {
  background-color: #2b2b2b;
  border-bottom: 1px solid #565656;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem;
}

.header h3 {
  text-transform: capitalize;
  color: white;
}

.image-wrapper {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.icon {
  font-size: 5rem;
  color: rgb(201, 201, 201);
}

.result-percentage {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;
  padding-bottom: .5rem;
}



/* Score */

.score-container {
  padding: 1rem;
  background-color: #333;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* height: 100%; */
}

.score-container table {
  width: 100%;
  border-collapse: collapse;
  color: #c4c4c4;
}

.score-container th,
.score-container td {
  padding: 0.4rem;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.score-container th{
  padding: 1rem 0.5rem;
}

.score-container th {
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.score-container th:last-child {
  text-align: right;
}

.score-container tr:last-child td {
  border-bottom: none;
}

.score-container tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.score-container td:last-child {
  text-align: right;
  font-weight: 500;
}

.score-class-name {
  text-transform: capitalize;
}

.score-percentage {
  font-weight: 800;
  font-size: 1.2rem;
}

.score-container tbody tr:first-child {
  color: white;
  font-weight: bold;
}




